# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Environment files
.env
env.txt
# PyInstaller & builds
build/
dist/
.idea/
*.spec
*.zip
*.pkg
*.app
*.dmg
*.exe
*.log

# macOS system files
.DS_Store
._*